* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Page 1 */
.page-1 {
  background-image: url("/images/hero-cover.3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  width: 100%;
}

.page-1 header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffff;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.466);
}

.page-1 header .navlinks ul {
  display: flex;
  align-items: center;
}

.page-1 header .navlinks ul li,
.page-1 header .login button i {
  margin: 0 1rem;
  font-weight: 600;
}

.page-1 header .login {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.page-1 header .login button {
  margin: 0.2rem 0 0 1.5rem;
  background-color: #23a6f0;
  border-radius: 2px;
  padding: 0.6rem;
  color: #ffff;
  border: none;
}

/* Slogan */

.page-1 .slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  color: #ffff;
  text-align: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.466);
}

.page-1 .slogan .h1-text {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.page-1 .slogan .slogan-buttons button {
  margin: 2rem 0.5rem;
  border: none;
  padding: 1rem 1.5rem;
  color: #ffff;
  font-weight: 600;
  border-radius: 25px;
}

.page-1 .slogan .slogan-buttons button:nth-child(1) {
  background-color: #23a6f0;
}

.page-1 .slogan .slogan-buttons button:nth-child(2) {
  background: transparent;
  border: 1px solid #ffff;
}

/* Cards below the slogan buttons/ homapage buttons */
.page-1 .slogan .cards {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-1 .slogan .cards .card {
  text-align: center;
  background-color: #ffff;
  color: black;
  padding: 2rem 1rem;
  margin: 0 2rem;
  border-radius: 2px;
  border: 1px solid #ffff;
  box-shadow: 1px 2px 2px #f0f0f0;
}

.page-1 .slogan .cards .card i {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.page-1 .slogan .cards .card i:nth-child(1),
.page-1 .slogan .cards .card i:nth-child(2) {
  color: #23a6f0;
}

.page-1 .slogan .cards .card:nth-child(3) {
  border: 1px solid #23a6f0;
  box-shadow: 1px 2px 5px #c4c4c4;
  background-color: #3498db;
  color: #ffff;
}

#icon-3 {
  color: #ffff;
}

/* page 3 */

.page-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 2rem;
}

.page-2 .card {
  text-align: center;
  background-color: #ffff;
  padding: 1.2rem;
  margin: 0 2rem;
  border-radius: 2px;
}

.page-2 .card h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.page-2 .card p {
  font-weight: 200;
}

.page-2 .card i {
  color: #3498db;
  font-size: 4rem;
  margin-bottom: 1rem;
}

/* Page 3 (Reviews) */

.page-3 {
  background-color: #f5f5f598;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-3 .header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.page-3 .header h1 {
  font-size: 2rem;
}

.page-3 .reviews {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page-3 .reviews .reviews-card {
  text-align: center;
  padding: 2rem;
  margin: 3rem 2rem;
  width: 20rem;
  height: auto;
  border: 1px solid #f0f0f0;
  background-color: #ffff;
  border-radius: 5px;
}

.page-3 .reviews .reviews-card img {
  height: 6rem;
  width: 6rem;
  margin-bottom: 1rem;
}

.page-3 .reviews .reviews-card p {
  font-weight: 200;
  font-size: 0.9rem;
}

.page-3 .reviews .reviews-card i {
  margin-top: 1rem;
  color: orange;
}

/* Page 4 (Trustees) */
.page-4 {
  background-color: #f5f5f598;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-4 .trustees-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page-4 .trustees-logos img {
  height: 2rem;
  width: auto;
}

.page-4 .subscribe {
  margin: auto;
  width: 80%;
  padding: 2rem;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 116, 255, 1) 0%,
    rgba(212, 14, 201, 1) 68%
  );
}

.page-4 .subscribe .container {
  display: flex;
  justify-content: space-between;
  color: #ffff;
  align-items: center;
}

.page-4 .subscribe .container .input input {
  padding: 1rem;
  border-radius: 10px 0 0 10px;
  border: none;
}

.page-4 .subscribe .container .input button {
  padding: 1rem;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: #23a6f0;
  color: #ffff;
}

/* Page 4 - Pricing */
.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f598;
}

.pricing .pricing-header {
  text-align: center;
}

.pricing .pricing-header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pricing .pricing-header p {
  font-size: 0.9rem;
  font-weight: 300;
}

.pricing .price-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}

.pricing .price-cards .card {
  padding: 3rem 2rem;
  border: 1px solid #23a6f0;
  border-radius: 10px;
  transition: 0.3s ease all;
}

.pricing .price-cards .card:hover {
  transform: scaleY(1.1);
}

.pricing .price-cards .card .head {
  text-align: center;
}

.pricing .price-cards .card .head .text {
  margin: 1rem;
  font-size: 0.9rem;
}

.pricing .price-cards .card .head .price {
  color: #23a6f0;
  font-size: 1.5rem;
  font-weight: 800;
}

.pricing .price-cards .card .head .price sub {
  font-weight: 400;
  font-size: 0.9rem;
}

.pricing .price-cards .card .ticks p {
  margin: 1.2rem 0;
  align-items: center;
}

#green-tick {
  color: rgba(47, 160, 13, 0.699);
  font-size: 1.5rem;
}

#no-tick {
  color: #c4c4c4;
  font-size: 1.5rem;
}

#standard {
  background-color: #252b42;
  color: #ffff;
}

#standard .ticks span {
  color: #ffff;
}

.pricing .price-cards .card .ticks p span {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 0 0 1rem;
  color: rgb(0, 0, 0);
  align-items: center;
}

.pricing .price-cards .card .pricing-btn {
  margin-top: 2rem;
  text-align: center;
}

.pricing .price-cards .card .pricing-btn button {
  padding: 1rem 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #23a6f0;
  color: #ffff;
}

/* Page 4 - Booking section */
.booking {
  position: relative;
  background-color: #252b42;
  margin-top: 4rem;
  color: #ffff;
  min-height: 90vh;
}

.booking .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.booking .container .text,
img {
  margin-top: 5rem;
}

.booking .container .text {
  width: 40%;
}

.booking .container .text h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.booking .container img {
  width: 30%;
}

/* Booking Form */

.form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form {
  display: flex;
  justify-content: center;
  background-color: #ffff;
  color: #000;
  border-radius: 2px;
  position: absolute;
  width: auto;
  margin: 5rem 0;
}

.form form img {
    max-height: 30rem;
}

.form form .form-fields {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}

.form form .form-fields h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form form .form-fields label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form form .form-fields input, #choice {
  padding: 1rem;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 0.8rem;
  width: 100%;
}

.form form .form-fields button {
  background-color: #23a6f0;
  color: #ffff;
  border: none;
  font-weight: 600;
  padding: 1rem 0;
  border-radius: 5px;
  margin-top: 1rem;
}


.consult {
    display: flex;
    justify-content: center;
    align-items: bottom;
    min-height: 70vh;
    background-color:#f0f0f085;
}

.consult .consulting {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15rem;
}

.consult .consulting button {
    margin-left: 10rem;
    background-color: #23a6f0;
    color: #FFFF;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
}